In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
road_path = '../../Dataset/Raw_Embeddings/Road_Embeddings.csv'
hf_path = '../../Dataset/Raw_Embeddings/HumanFlow_Embeddings_kor.csv'
#air_path = '../../'

# 데이터 불러오기
road = pd.read_csv(road_path)
hf = pd.read_csv(hf_path)
label = pd.read_csv('../../Dataset/AirBnB_LLM_New/gemma2_no_listing_raw_fill_na_ver_labels.csv')

# 이름 변경
hf.rename(columns={'기준일ID':'Reporting Month', '행정동코드':'ADM_NM'}, inplace=True)
hf['Reporting Month'] = hf['Reporting Month'].astype(str)

merged_df = pd.merge(hf, label, how='inner', on=['Reporting Month', 'ADM_NM'])
merged_df

Empty DataFrame
Columns: [Reporting Month, ADM_NM, 총생활인구수, 남자0세부터9세생활인구수, 남자10세부터14세생활인구수, 남자15세부터19세생활인구수, 남자20세부터24세생활인구수, 남자25세부터29세생활인구수, 남자30세부터34세생활인구수, 남자35세부터39세생활인구수, 남자40세부터44세생활인구수, 남자45세부터49세생활인구수, 남자50세부터54세생활인구수, 남자55세부터59세생활인구수, 남자60세부터64세생활인구수, 남자65세부터69세생활인구수, 남자70세이상생활인구수, 여자0세부터9세생활인구수, 여자10세부터14세생활인구수, 여자15세부터19세생활인구수, 여자20세부터24세생활인구수, 여자25세부터29세생활인구수, 여자30세부터34세생활인구수, 여자35세부터39세생활인구수, 여자40세부터44세생활인구수, 여자45세부터49세생활인구수, 여자50세부터54세생활인구수, 여자55세부터59세생활인구수, 여자60세부터64세생활인구수, 여자65세부터69세생활인구수, 여자70세이상생활인구수, 총생활인구수_LONG_FOREIGNER, 중국인체류인구수_LONG_FOREIGNER, 중국외외국인체류인구수_LONG_FOREIGNER, 총생활인구수_TEMP_FOREIGNER, 중국인체류인구수_TEMP_FOREIGNER, 중국외외국인체류인구수_TEMP_FOREIGNER, Occupancy Rate, Revenue (USD), Number of Reservations]
Index: []

[0 rows x 40 columns]